<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Buttplug" version="1.0.11" targetFramework="net47" />
  <package id="ButtplugRustFFI" version="1.0.9" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.15.0" targetFramework="net47" />
  <package id="Microsoft.NETCore.Platforms" version="5.0.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Memory" version="4.5.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net47" />
</packages>